{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chat</h1>

    {{ turbo_stream_from('chat') }}
    {# Initial content (optional) #}
    {{ turbo_stream_from_end() }}

    {{ turbo_frame_start('message_form') }}
    {{ form(form) }}
    {{ turbo_frame_end() }}
{% endblock %}
