<aside style="background-color: var(--bs-secondary-bg-subtle);" class="mt-5">
    <div class="container-fluid container-xxl p-4 p-md-5">
        <div style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fill, minmax(min(100%, 340px), 1fr));">
            <twig:DocsLink
                url="{{ package.officialDocsUrl }}"
                title="Symfony UX {{ package.humanName }} Docs"
                text="Get going with the official documentation."
            />
            {% if package.screencastLink %}
                <twig:DocsLink
                    title="Screencasts"
                    text="{{ package.screencastLinkText }}"
                    url="{{ package.screencastLink }}"
                />
            {% endif %}
            {% if package.docsLink %}
                <twig:DocsLink
                    url="{{ package.docsLink }}"
                    title="Related Docs"
                    text="{{ package.docsLinkText }}"
                />
            {% endif %}
        </div>
    </div>
</aside>
