{% extends 'packageBase.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'translator',
        eyebrowText: 'JavaScript-enabled Translation'
    } %}
        {% block title_header %}
            Translations directly imported in <em>JavaScript</em>
        {% endblock %}

        {% block sub_content %}
            Write & manage your translations like you always do. Then use them just as easily in JS.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="translations/messages+intl-icu.en.yaml" height="300px" />
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock filename="translations/messages+intl-icu.fr.yaml" height="300px" />
{% endblock %}

{% block demo_title %}UX Translator{% endblock %}

{% block demo_content %}
    <div {{ stimulus_controller('translator-demo') }}>
        <div {{ stimulus_target('translator-demo', 'localeSwitcher') }} style="position: absolute; top: 16px; right: 16px ">
            <div class="row">
                <label for="translator-demo-locale" class="col-3 col-form-label">Locale</label>
                <div class="col">
                    <select id="translator-demo-locale" {{ stimulus_action('translator-demo', 'setLocale') }} class="form-select">
                        <option value="en">🇬🇧 English</option>
                        <option value="fr">🇫🇷 French</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5">
                <div class="h3 text-center text-body">Code</div>
            </div>
            <div class="col">
                <div class="h3 text-center text-body">Result</div>
            </div>
            <div class="col-4">
                <div class="h3 text-center text-body">Parameters</div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <pre {{ stimulus_target('translator-demo', 'helloCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'helloOutput') }}></span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <pre {{ stimulus_target('translator-demo', 'sayHelloCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'sayHelloOutput') }}></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="sayHelloNameInput" class="col-3 col-form-label text-end">Name</label>
                    <div class="col">
                        <input
                            type="text"
                            value="Fabien"
                            class="form-control"
                            id="sayHelloNameInput"
                            {{ stimulus_target('translator-demo', 'sayHelloNameInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <pre {{ stimulus_target('translator-demo', 'invitationTitleCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'invitationTitleOutput') }}></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="invitationTitleOrganizationGenderInput" class="col-3 col-form-label text-end">Gender</label>
                    <div class="col">
                        <select
                            id="invitationTitleOrganizationGenderInput"
                            class="form-select"
                            {{ stimulus_target('translator-demo', 'invitationTitleOrganizationGenderInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        >
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="multiple">Multiple</option>
                            <option value="trans">Trans</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="invitationTitleOrganizationNameInput" class="col-3 col-form-label text-end">Name</label>
                    <div class="col">
                        <input
                            id="invitationTitleOrganizationNameInput"
                            type="text"
                            value="Clara"
                            class="form-control"
                            {{ stimulus_target('translator-demo', 'invitationTitleOrganizationNameInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <pre {{ stimulus_target('translator-demo', 'numOfApplesCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'numOfApplesOutput') }}></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="numOfApplesCountInput" class="col-3 col-form-label text-end">Count</label>
                    <div class="col">
                        <input
                            type="number"
                            min="0"
                            max="5"
                            value="2"
                            class="form-control"
                            id="numOfApplesCountInput"
                            {{ stimulus_target('translator-demo', 'numOfApplesCountInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <pre {{ stimulus_target('translator-demo', 'finishPlaceCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'finishPlaceOutput') }}></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="finishPlacePlaceInput" class="col-3 col-form-label text-end">Place</label>
                    <div class="col">
                        <input
                            type="number"
                            min="1"
                            value="1"
                            class="form-control"
                            id="finishPlacePlaceInput"
                            {{ stimulus_target('translator-demo', 'finishPlacePlaceInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <pre {{ stimulus_target('translator-demo', 'publishedAtCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'publishedAtOutput') }}></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="publishedAtDateInput" class="col-3 col-form-label text-end">Date</label>
                    <div class="col">
                        <input
                            type="datetime-local"
                            value="2023-04-27 08:12"
                            class="form-control"
                            id="publishedAtDateInput"
                            {{ stimulus_target('translator-demo', 'publishedAtDateInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-5">
                <div class="Terminal_body">
                    <pre {{ stimulus_target('translator-demo', 'progressAtCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'progressAtOutput') }}></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="progressAtProgressInput" class="col-3 col-form-label text-end">Progress</label>
                    <div class="col d-flex align-items-center">
                        <input
                            id="progressAtProgressInput"
                            type="range"
                            class="form-range"
                            {{ stimulus_target('translator-demo', 'progressAtProgressInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="Terminal_body">
                <pre {{ stimulus_target('translator-demo', 'valueOfObjectCode') }}></pre>
                </div>
            </div>
            <div class="col">
                <span {{ stimulus_target('translator-demo', 'valueOfObjectOutput') }}></span>
            </div>
            <div class="col-4">
                <div class="row mb-3">
                    <label for="valueOfObjectValueInput" class="col-3 col-form-label text-end">Value</label>
                    <div class="col">
                        <input
                            type="number"
                            min="1"
                            value="30"
                            class="form-control"
                            id="valueOfObjectValueInput"
                            {{ stimulus_target('translator-demo', 'valueOfObjectValueInput') }}
                            {{ stimulus_action('translator-demo', 'render') }}
                        >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
