<h1>A Bar component</h1>

propGivenHost in Bar{{ id }}: {{ propGivenHost }}
propGivenThis in Bar{{ id }}: {{ propGivenThis }}
this in Bar{{ id }}: {{ this.something }}

<div class='embedded content in Bar{{ id }}'>
{% block content %}{% endblock %}
</div>
