<div {{ attributes }}>
    Prop1: {{ prop1 }}
    Prop2: {{ prop2 }}
    Prop3: {{ prop3|join(',') }}
    Prop4: {{ prop4 }}
    Prop5: address: {{ prop5.address ?? '' }} city: {{ prop5.city ?? '' }}
    Prop6: {{ prop6 }}
</div>