<div{{ attributes }}>
    <label>
        <input type="number" data-model="number1" step="1">
    </label>

    <ul>
        <li>Number1: {{ number1 }}</li>
        <li>Number2: {{ number2 }}</li>
        <li>Number3: {{ number3 }}</li>
    </ul>

    <div>Total: {{ total }}</div>
</div>
