{% block create %}
    <twig:Turbo:Stream:Append target="#books">
        <div id="book_{{ id }}">{{ entity.title }} (#{{ id }})</div>
    </twig:Turbo:Stream:Append>
{% endblock %}

{% block update %}
    <twig:Turbo:Stream:Update target="#book_{{ id }}">
        {{ entity.title }} (#{{ id }}, updated)
    </twig:Turbo:Stream:Update>
{% endblock %}

{% block remove %}
    <twig:Turbo:Stream:Remove target="#book_{{ id }}"></twig:Turbo:Stream:Remove>
{% endblock %}
