{% block create %}
    {{ turbo_stream_start('append', 'books') }}
        <div id="{{ 'book_' ~ entity.id }}">{{ entity.title }} (#{{ entity.id }})</div>
    {{ turbo_stream_end() }}
{% endblock %}

{% block update %}
    {{ turbo_stream_start('update', 'book_' ~ entity.id) }}
        {{ entity.title }} (#{{ entity.id }}, updated)
    {{ turbo_stream_end() }}
{% endblock %}

{% block remove %}
    {{ turbo_stream_start('remove', 'book_' ~ entity.id) }}{{ turbo_stream_end() }}
{% endblock %}
