{% block create %}
    <twig:Turbo:Stream:Append target="#songs">
        <div id="song_{{ id }}">{{ entity.title }} (#{{ id }}){% if entity.artist %} by {{ entity.artist.name }} (#{{ entity.artist.id }}){% endif %}</div>
    </twig:Turbo:Stream:Append>
{% endblock %}

{% block update %}
    <twig:Turbo:Stream:Update target="#song_{{ id }}">
        {{ entity.title }} (#{{ id }}, updated)
    </twig:Turbo:Stream:Update>
{% endblock %}

{% block remove %}
    <twig:Turbo:Stream:Remove target="#song_{{ id }}"></twig:Turbo:Stream:Remove>
{% endblock %}
