<div
    id="card-{{ key }}"
    class="{{ html_classes('LiveMemory-Card', {
        'LiveMemory-Card--flipped': flipped,
        'LiveMemory-Card--selected': selected,
        'LiveMemory-Card--paired': paired,
        'LiveMemory-Card--matched': matched,
    }, class|default) }}"
    style="--card-delta:{{ (key* 17) % 10 }};"
>

    {# We keep the back / button to flip until the card is matched #}
    {% if not matched|default %}
        <button
            class="LiveMemory-Card__back"
            data-action="live#action"
            data-live-action-param="flip"
            data-live-key-param="{{ key }}"
        >
            <img class="LiveMemory-Card__back_img LiveMemory-Card__img"
                 alt="LiveMemory Card Back - {{ back|upper }}"
                 src="{{ asset('images/demos/live-memory/back/%s.webp'|format(back)) }}"
                 width="512" height="512"
            />
        </button>
    {% endif %}

    {# We generate the HTML code of the front image only when the card is visible #}
    {# This prevent any possibility to cheat by looking at the HTML code... #}
    {# and allow us to use fake data until the first card is flipped #}
    {% if flipped %}
        <div class="LiveMemory-Card__front">
            <img class="LiveMemory-Card__front_img LiveMemory-Card__img"
                 alt="LiveMemory Card #{{ key }}"
                 src="{{ asset('images/demos/live-memory/cards/card-%s.webp'|format(front)) }}"
                 width="512" height="512"
            />
        </div>
    {% endif %}

</div>
