{% block menu_items %}
    <a href="{{ path('app_turbo') }}" class="AppNav_item">Turbo</a>
    <div class="dropdown">
        <button
            class="AppNav_item"
            id="components-dropdown-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            Packages
            <twig:Icon name="chevron-down"/>
        </button>
        <ul class="dropdown-menu" aria-labelledby="components-dropdown-button">
            {% for package in twigPackageHelper.topNavPackages %}
                <li>
                    <a class="dropdown-item" href="{{ path(package.route) }}">
                        <div class="d-flex align-items-center">
                            <div class="nav-component-img d-flex justify-content-center align-items-center me-2"
                                 style="background: {{ package.color }}">
                                <img width="10" height="10"
                                     src="{{ asset('images/ux_packages/'~package.imageFilename) }}"
                                     alt="Image for the {{ package.humanName }} UX package">
                            </div>
                            {{ package.humanName }}
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href="{{ path('app_packages') }}">Browse all Packages</a>
            </li>
        </ul>
    </div>
    <a href="{{ path('app_demos') }}" class="AppNav_item">Demos</a>
    <a class="AppNav_item AppNav_item--icon"
       href="https://github.com/symfony/ux"
       rel="external noopener noreferrer"
       aria-label="Symfony UX on GitHub"
    >
        <twig:Icon name="github"/>
    </a>
    <twig:ThemeSwitcher class="AppNav_item AppNav_item--icon" aria-label="Switch dark/light mode" />
{% endblock %}
