<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony UX: JavaScript tools you'll love{% endblock %}</title>
        <link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicon-sf-ux.svg') }}">
        <link rel="alternate icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="alternate icon" type="image/png" sizes="32x32" href="{{ asset('favicon-16x16.png') }}">
        <link rel="mask-icon" href="https://symfony.com/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <footer class="p-5 mt-5">
            <div class="row">
                <div class="col-12 col-md-4 text-center text-md-start">
                    <p style="font-size: 14px;">&copy; {{ 'now'|date('Y')}} Symfony Inc. All rights reserved.</p>
                </div>
                <div class="col-12 col-md-4 order-md-3 text-center text-md-end">
                    <a href="https://github.com/symfony/ux" rel="external noopener noreferrer" style="color: #0A0A0A;">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="col-12 col-md-4 order-md-2">
                    <p class="mt-3 mt-md-0 text-center" style="font-size: 11px; text-transform: uppercase;">crafted by <span style="font-weight: 700;">
                        <a href="https://symfonycasts.com" rel="external noopener noreferrer">SymfonyCasts</a> &amp;
                        <a href="https://locastic.com" rel="external noopener noreferrer">Locastic</a>
                    </span></p>
                </div>
            </div>
        </footer>
    </body>
</html>
