<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony UX: JavaScript tools you'll love{% endblock %}</title>
        <link rel="icon" href="/favicon.ico" sizes="48x48">
        <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="https://symfony.com/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:200,400,600|Playfair+Display:400,700i|Space+Mono|Ubuntu:400,700&display=swap">
            {{ ux_controller_link_tags() }}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}
        {% block javascripts %}
            <script>
                (() => {
                    const userTheme = localStorage.getItem('user-theme');
                    const browserTheme = window.matchMedia?.('(prefers-color-scheme: dark)')?.matches ? 'dark' : 'light';
                    const darkMode = (userTheme ?? browserTheme) === 'dark';
                    document.documentElement.setAttribute('data-bs-theme', darkMode ? 'dark' : 'light');
                })();
            </script>
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="App">
                {% block header %}
                    {{ include('_header.html.twig') }}
                {% endblock %}

                {% block main %}
                    <main>
                        {% block content %}
                        {% endblock %}
                    </main>
                {% endblock %}

                {% block aside %}{% endblock %}

                {% block footer %}
                    {{ include('_footer.html.twig') }}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
