{% extends 'base.html.twig' %}

{% block title %}{{ demo.name }} Demo | Live Components{% endblock %}

{% block body %}
    <div class="container-fluid container-xxl px-5 py-4" style="background-color: #272727;">
        <div class="d-md-flex justify-content-md-between text-center text-md-start">
            <a href="{{ path('app_live_component') }}#demos" style="height:100%;" class="btn btn-outline-light align-self-center"><i class="fa-solid fa-arrow-left me-2"></i>Back to all demos</a>
            <div class="font-white text-center mt-4 mt-md-0"><span class="eyebrows">DEMO</span><br><h1 class="inter">{{ demo.name }}</h1></div>
            <a href="{{ path('app_homepage') }}" class="logo-white d-none d-md-inline align-self-center"></a>
        </div>
    </div>

    {% for message in app.flashes('live_demo_success') %}
        <div class="alert alert-success" data-turbo-cache="false">{{ message }}</div>
    {% endfor %}

    <div class="container-fluid container-xxl px-5 pt-5">
        <div class="arrow mb-3 d-none d-md-block"></div>

        <div class="row mb-5">
            <div class="col-12 col-md-6">
                {% block code_block_left %}{% endblock %}
            </div>
            <div class="col-12 col-md-6 mt-3 mt-md-0">
                {% block code_block_right %}{% endblock %}
            </div>
        </div>

        <div class="p-4 markdown-container rainbow-gradient mt-5" id="demo" style="position: relative;">
                <div class="arrow-2 mb-3 d-sm-block" style="position:absolute; top:-55px; right: -25px;"></div>
            {% block demo_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
