{% extends 'base.html.twig' %}

{% block title %}{{ demo.name }} Demo | Live Components{% endblock %}

{% block header %}
    <header style="">
        <div class="container-fluid container-xxl px-5 py-4" >
            <div class="d-md-flex justify-content-md-between text-center text-md-start align-items-center">
                <a href="{{ path('app_demos') }}#demos" style="height:100%;" class="btn btn-outline-primary align-self-center">
                    <twig:Icon name="arrow-left" />
                    Back to all demos
                </a>
                <twig:ThemeSwitcher />
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <div class="container-fluid container-xxl px-4 px-md-5 mb-5">
        <div class="text-center mt-md-0">
            <p class="eyebrows">
                <a href="{{ url('app_demos') }}">DEMO</a>
            </p>
            <h1 class="ubuntu text-center">{{ demo.name }}</h1>
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-4">
                {{ demo.longDescription|markdown_to_html }}
            </div>
        </div>
    </div>

    <div class="container-fluid container-xxl px-4 px-md-5">
        {% for message in app.flashes('live_demo_success') %}
            <div class="alert alert-success" data-turbo-cache="false">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5 mb-5">
        <div class="mb-3" style="position: relative;">
            <div class="p-4 markdown-container bg-body shadow-blur shadow-blur--rainbow" id="demo">
                {% block demo_content %}{% endblock %}
            </div>
            <div class="arrow-2 mb-3 d-sm-block" style="position:absolute; bottom: 0; left: 0; transform: scaleX(-1) translateY(70px) translateX(20px)"></div>
        </div>

        {% block code_block_full %}
            <div class="arrow mb-3 d-none d-md-block"></div>
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    {% block code_block_left %}{% endblock %}
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                    {% block code_block_right %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

{% endblock %}
