{% extends 'base.html.twig' %}

{#{% set package = twigPackageHelper.currentPackage() %}#}
{% block title %}{{ package.humanName }} | Symfony UX Packages{% endblock %}

{% block header %}
    {{ include('_header.html.twig', {
        theme: 'white'
    }) }}
{% endblock %}

{% block content %}

<article>
    {% block package_header %}{% endblock %}

    {% block package_content %}
        <section class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
            <div class="arrow mb-3 d-none d-md-block"></div>
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    {% block code_block_left %}{% endblock %}
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                    {% block code_block_right %}{% endblock %}
                </div>
            </div>
            {% block package_demo %}
                {% if block('demo_title') is defined %}
                    {% set demoTitle = block('demo_title') %}
                    {% set demoContent = block('demo_content') %}
                    <div id="demo" style="position: relative;">
                        <div class="arrow-2 mb-3 d-sm-block" style="position:absolute; top:-55px; right: -25px;"></div>
                        {% embed 'ux_packages/_package_demo.html.twig' %}
                            {% block title %}{{ demoTitle|raw }}{% endblock %}
                            {% block content %}{{ demoContent|raw }}{% endblock %}
                        {% endembed %}
                    </div>
                {% endif %}
            {% endblock %}
        </section>
    {% endblock %}

    {% block package_install %}
        <section class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
            {{ include('ux_packages/_package_install.html.twig', {
                package: package,
            }) }}
        </section>
    {% endblock %}

    {% block package_links %}
        {{ include('ux_packages/_package_links.html.twig', {
            package: package
        }) }}
    {% endblock %}

</article>

{% endblock %}
