{%- block button_add -%}
    {%- set attrDataAction = (attr['data-action']|default('') ~ ' ' ~ controllerName ~ '#add')|trim -%}
    <button data-action="{{ attrDataAction }}"
            class="{{ button_add_class }}"  type="button">{{ button_add_text|trans }}</button>
{%- endblock button_add -%}

{%- block button_delete -%}
    {%- set attrDataAction = (attr['data-action']|default('') ~ ' ' ~ controllerName ~ '#delete')|trim -%}
    <button data-action="{{ attrDataAction }}"
            class="{{ button_delete_class }}" type="button">
        {{ button_delete_text|trans }}</button>
{%- endblock button_delete -%}

{% block ux_collection_widget -%}
    {%- set controllerName = 'symfony--ux-form-collection--collection' -%}
    {%- set dataController = (attr['data-controller']|default('') ~ ' ' ~ controllerName)|trim -%}

    {# attr for the data target on the entry of the collection #}
    {%- set attrDataTarget = {('data-' ~ controllerName ~ '-target'): 'entry' } -%}

    {% if prototype is defined and not prototype.rendered %}
        {%- set prototype_attr = prototype.vars.attr|merge(attrDataTarget) -%}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype, {'row_attr': prototype_attr}) }) -%}
    {% endif %}
    {%- set attr = attr|merge({('data-' ~ controllerName ~ '-target'): 'container' }) -%}

    <div data-controller="{{ dataController }}"
         data-{{ controllerName }}-allow-add-value="{{ allow_add|json_encode }}"
         data-{{ controllerName }}-allow-delete-value="{{ allow_delete|json_encode }}"
         data-{{ controllerName }}-button-add-value="{{ block('button_add')|e('html_attr') }}"
         data-{{ controllerName }}-button-delete-value="{{ block('button_delete')|e('html_attr') }}"
         data-{{ controllerName }}-prototype-name-value="{{ prototype_name }}"
            {{ block('widget_container_attributes') }}
    >
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}

        {% for child in form|filter(child => not child.rendered) %}

            {%- set child_attr = child.vars.attr|merge(attrDataTarget) -%}
            {{- form_row(child, {'row_attr': child_attr}) -}}

        {% endfor %}

        {{- form_rest(form) -}}
    </div>
{%- endblock %}
