<div
    {{ init_live_component(this) }}
>
    Prop1: {{ this.prop1.id }}
    Prop2: {{ this.prop2|date('Y-m-d g:i') }}
    Prop3: {{ this.prop3 }}
    Prop4: {{ this.prop4|default('(none)') }}
</div>
