<div {{ attributes.defaults({
    class: 'Terminal ' ~ this.classString,
}) }}>

    {% if showFilename %}
        <div class="Terminal_header py-2 px-3 mb-0 d-flex justify-content-between align-items-center">
            <a id="{{ this.elementId }}" href="#{{ this.elementId }}" class="Terminal_title"><code>{{ filename }}</code></a>
            <div class="Terminal_actions">
                <twig:CodeBlockButtons source="{{ this.rawSource }}" link="{{ this.githubLink }}"/>
            </div>
        </div>
    {% endif %}

    <div class="Terminal_body" data-controller="code-expander">
        {% if not showFilename %}
            <div class="Terminal_actions">
                <twig:CodeBlockButtons source="{{ this.rawSource }}" link="{{ this.githubLink }}"/>
            </div>
        {% endif %}
        <div class="Terminal_content" style="height: {{ height }};"
             data-code-expander-target="codeContent"
             data-controller="code-highlighter"
        >
            {% for piece in this.prepareSource %}
                {% if piece.highlight ?? true %}
                    <pre><code class="language-{{ this.language }}" data-code-highlighter-target="codeBlock">
                        {{- piece.content -}}
                    </code></pre>
                {% else %}
                    {{- piece.content|raw -}}
                {% endif %}
            {% endfor %}
        </div>

        {% block code_content_bottom %}
            <button
                type="button"
                class="Terminal_expand"
                data-code-expander-target="expandCodeButton"
                data-action="code-expander#expandCode"
            >
                <twig:Icon name="arrow-down"/>
                <span>Expand code</span>
            </button>
        {% endblock %}
    </div>
</div>
