<div class="ComponentBox" style="--gradient: {{ package.gradient }};">

    <div class="ComponentBox_logo">
        <img width="36" height="36" src="{{ asset('images/'~package.imageFilename) }}"
             alt="Image for the {{ package.humanName }} UX package">
    </div>

    <div class="ComponentBox_content">
        <h3 class="ComponentBox_title">
            <a href="{{ path(package.route) }}" class="ComponentBox_link">{{ package.humanName }}</a>
            <span class="ComponentBox_arrow">
                <twig:Icon name="arrow-right" />
            </span>
        </h3>
        <div class="ComponentBox_description">
            {{ package.description|markdown_to_html }}
        </div>
    </div>
</div>
