<div {{ attributes.defaults({class: 'DocsLink'}) }}>
    <div class="DocsLink_content">
        <p class="DocsLink_title ubuntu-header">
            <a href="{{ url }}" class="DocsLink_link"
               rel="{{ isExternal ? 'external noopened noreferrer' }}"
            >{{ title }}</a>
            {% if icon|default %}
                <twig:ux:icon name="{{ icon }}" class="Icon DocsLink_arrow"/>
            {% elseif isExternal %}
                <twig:ux:icon name="arrow-right" style="transform: rotate(-45deg);" class="Icon DocsLink_arrow"/>
            {% endif %}
        </p>
        <div class="DocsLink_description">
            <p>{{ text }}</p>
        </div>
    </div>
</div>
