<div {{ attributes.defaults({ class: 'DocsLink' }) }}>
    <div class="DocsLink_content">
        <p class="DocsLink_title ubuntu-header">
            <a href="{{ url }}" class="DocsLink_link"
               rel="{{ isExternal ? 'external noopened noreferrer' }}"
            >{{ title }}</a>
            {% if isExternal %}
                <twig:Icon name="arrow-right" style="transform: rotate(-45deg);" class="DocsLink_arrow"/>
            {% endif %}
        </p>
        <div class="DocsLink_description">
            <p>{{ text }}</p>
        </div>
    </div>
</div>
