{# See src/Form/MealPlannerForm.php for the form magic #}
<div
    {{ attributes }}
>
    {{ form_start(form) }}
        {{ form_row(form.folder) }}
        {{ form_row(form.domain) }}
    {{ form_end(form) }}
</div>
