<div {{ attributes.defaults({class: 'TerminalCommand'}).defaults(stimulus_controller('clipboard')) }}>
    <pre
        class="TerminalCommand_input"
        aria-label="{{ label|default }}"
    ><code {{ stimulus_target('clipboard', 'source') }}>{{ command }}</code></pre>
    <button
        type="button"
        class="TerminalCommand_action btn btn-copy"
        aria-label="Copy command"
        {{ stimulus_action('clipboard', 'copy') }}
    >
        <twig:Icon name="copy"/>
    </button>
</div>
