{% props foo, primary = true, notAScalar %}

<div {{ attributes }}>
    Anonymous component! {{ dump(_context|keys) }}
    <br>
    Attributes: <code>{{ attributes }}</code>
    <br>
    Foo: {{ foo|default('not defined') }}
    <br>
    Primary: {{ primary|default('not defined') }}
    <br>
    NotAScalar: {{ dump(notAScalar) }}
</div>
