<article {{ attributes.defaults({class: "TimelineItem"}) }}>

    <div class="TimelineItem__Anchor">
        <div class="TimelineItem__Version">
            <code>{{ item.version|u.trim('v') }}</code>
        </div>
        <div class="TimelineItem__Date">
            <span>{{ item.date|date('Y-m-d') }}</span>
        </div>
    </div>

    <div class="TimelineItem__Content">
        <details>
            <summary class="TimelineItem__Head">

                <h2 class="TimelineItem__Title">{{ item.name }}</h2>

                <button class="btn TimelineItem__Toggle" type="button">
                    <twig:Icon name="arrow-down" />
                </button>

            </summary>

            <div class="TimelineItem__Text">
                {{ this.getContent()|markdown_to_html }}
            </div>

        </details>
    </div>

</article>
