{# you only need to add the call to the Stimilus controller;
   swup doesn't require any other changes in your template #}
<div {{ stimulus_controller('symfony/ux-swup/swup') }}>

    {% for package in pager %}
        <a href="{{ path(package.route) }}" class="col-12">
            <img src="{{ asset('build/images/'~package.imageFilename) }}">
            <h4>{{ package.humanName }}</h4>
        </a>
    {% endfor %}

    {{ pagerfanta(pager, 'twitter_bootstrap5') }}
</div>
