{% macro summaryAttributes(description) %}
    {% if description %}
        data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="{{ description|e('html_attr') }}"
    {% endif %}
{% endmacro %}

{% for fileInfo in files %}
    {% if fileInfo.isDirectory %}
        <li class="file-tree-main">
            <summary {{- _self.summaryAttributes(fileInfo.description) -}}>
                <i class="fas fa-folder-open pe-2"></i>
                {{ fileInfo.filename }}
            </summary>

            <ul class="list-unstyled">
                {{ include('main/_fileTreeLevel.html.twig', {
                    files: fileInfo.files
                }) }}
            </ul>
        </li>
    {% else %}
        <li class="file-tree-main">
            <summary {{- _self.summaryAttributes(fileInfo.description) -}}>
                <i class="fas fa-folder pe-2"></i>{{ fileInfo.filename }}
            </summary>
        </li>
    {% endif %}
{% endfor %}
