<div {{ attributes.defaults({ class: 'LiveMemory-ScoreRow' }) }}>
    <div class="typing" style="--wait:{{ wait }};--chars: {{ cols }};">
        <span class="label">{{ label }}</span>
        <span class="dots">{{ this.getDots() }}</span>
        <span class="value">{{ value }}</span>
    </div>
</div>
